@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.App {
  text-align: center;
  font-size: 1.2em;
  /* background-color: rgb(255, 232, 245); */
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.3em;
  margin: 10px;
  padding: 0;
}

.BoardStuff {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.BoardList {
  margin: 20px;
  border: 2px solid black; 
}

.SelectedBoard {
  margin: 20px;
  border: 2px solid black; 
}

.NewBoardForm {
  margin: 20px;
  border: 2px solid black; 
}

h3 {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.5em;
}

/* .board {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/91G8asH3H7L._AC_SL1500_.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
} */

/* .displayOn {
  background-color: blue;
}

.displayOff {
  
} */