.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background-image: url("./background01.jpeg");
  height: 50%;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-size: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(91, 118, 227);
}

.all-boards, .new-board, .cards, .new-card {
  font-size: 20px;
  border: 3px solid blue;
  padding: 20px;
}
.card_div {
  background-color: rgb(247, 247, 180);
  padding: 50px;
  margin: 20px;
}

.header{
  /* display: inline-block; */
  font-style: italic;
  /* float: left; */
  /* position: relative; */
}

h1{
  display: inline-block;
  vertical-align: middle;
}

#star1, #star2 {
  display: inline;
  vertical-align: middle;
  width: 10%;  
  height: 10%;  
}

button{
  margin: 10px;
}