
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* background: linear-gradient(90deg, #ec1e1e, #ec1e1e 16.67%, #ee841a 16.67%, #ee841a 33.33%, #ffd966 33.33%, #ffd966 50%, #007940 50%, #007940 66.67%, #4040ff 66.67%, #4040ff 83.33%, #a000c0 83.33%, #a000c0) fixed;
   */
  background-image: url("./img/Mullin_pride_background.jpeg");
  background-size: cover;
} 


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.page__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.content__container {
  display: flex;
  flex-direction: column;
  /* flex: 1 0 auto; */
}